# Eclipse stuff
.classpath
.project
.settings/

# netbeans
nbproject/
nbactions.xml

# we use maven!
build.xml

# maven
target/
dependency-reduced-pom.xml

# vim
.*.sw[a-p]

# various other potential build files
build/
bin/
dist/
manifest.mf

work/1.*/
work/BuildData/
work/Bukkit/
work/CraftBukkit/
work/Paperclip/
work/Spigot/
work/Spigot-Server
work/Spigot-API
work/*.jar
work/test-server/
work/MCP/

# Mac filesystem dust
.DS_Store/

# intellij
*.iml
*.ipr
*.iws
.idea/

# Linux temp files
*~

# other stuff

Paper-Server/
Paper-API/
PaperSpigot-Server/
PaperSpigot-API/
Paperclip.jar
paperclip.jar
paperclip-*.jar
paperclip.properties
### Gradle template
.gradle

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/PaperServer/

.cache
